<%= Gon::Base.render_data %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.7.5/components.min.css" integrity="sha512-TizAONqhvXjEfRPhptSUkZNVU497PzAnXNGNUoeOjeni4dHpJ+ak+ZsyoGna20LH/yg1PvdufN1VbnVQeVDftg==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.7.5/utilities.css" integrity="sha512-b10FuxC4JBxJ+GF9PKvhj3G/EmvwUtSbfJ6lP6rkgGGREdQc8yl15/OkcphCF1EwWwfm3lUdC5mOsBL1Eaj9yA==" crossorigin="anonymous" />

<h1>メインのおかず</h1>
<h2><%= @okazu %></h2>
<h1><%= @comment %></h1>
<ul>
  <% @recommended_recipes.each_with_index do |recommended_recipe, index| %>
  <div class="flex items-center">
    <div>
      <span><%= @okazu %>と作ったときの栄養バランス</span><br>
      <canvas id="myChart-<%= index %>" style="display: inline;"></canvas>
    </div>
    <%= link_to recommended_recipe.title, recommended_recipe %>
    <% if recommended_recipe.kind == 1 %>
      <%= image_tag 'range.png' %>
    <% elsif recommended_recipe.kind == 2 %>
      <%= image_tag 'o.png' %>
    <% end %>
  </div>
  <br>
  <hr>
  <% end %>
</ul>

<h1>他のおかずにする？</h1>
<%= render :partial => "form" %>

<%= link_to 'トップに戻る', root_path %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
gon.nutritions.forEach((nutrition, index) => {
  var ctx = document.getElementById(`myChart-${ index }`).getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'radar',

      data: {
      labels: ['炭水化物1', '炭水化物2', 'タンパク質1', 'タンパク質2', '脂質', 'ビタミン・ミネラル'],
      datasets: [{
          data: nutrition
      }]
      },

      options: {
        legend: {display: false},
        responsive: false,
        scale: {
          ticks: {
            beginAtZero: true,
            max: 5,
            min: 0,
            stepSize: 1
          }
        }
      }
  });
});
</script>



