<%= Gon::Base.render_data %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.7.5/components.min.css" integrity="sha512-TizAONqhvXjEfRPhptSUkZNVU497PzAnXNGNUoeOjeni4dHpJ+ak+ZsyoGna20LH/yg1PvdufN1VbnVQeVDftg==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.7.5/utilities.css" integrity="sha512-b10FuxC4JBxJ+GF9PKvhj3G/EmvwUtSbfJ6lP6rkgGGREdQc8yl15/OkcphCF1EwWwfm3lUdC5mOsBL1Eaj9yA==" crossorigin="anonymous" />

<% if @okazu.present? %>
  <h1>メインのおかず</h1>
  <div class="flex items-center">
    <canvas id="myChart" style="display: inline;"></canvas>
    <h2><%= @okazu %></h2>
  </div>
<% end %>
<h1><%= @comment %></h1>
<%= render 'recipes', recipes: @recommended_recipes, okazu: @okazu %>

<h1>他のおかずにする？</h1>
<%= render :partial => "form" %>

<%= link_to 'トップに戻る', root_path %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById(`myChart`).getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'radar',

    data: {
    labels: ['炭水化物1', '炭水化物2', 'タンパク質1', 'タンパク質2', '脂質', 'ビタミン・ミネラル'],
    datasets: [{
        data: gon.main_nutritions
    }]
    },

    options: {
      legend: {display: false},
      responsive: false,
      scale: {
        ticks: {
          beginAtZero: true,
          max: 5,
          min: 0,
          stepSize: 1
        }
      }
    }
});
gon.nutritions.forEach((nutrition, index) => {
  var ctx = document.getElementById(`myChart-${ index }`).getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'radar',

      data: {
      labels: ['炭水化物1', '炭水化物2', 'タンパク質1', 'タンパク質2', '脂質', 'ビタミン・ミネラル'],
      datasets: [{
          data: nutrition
      }]
      },

      options: {
        legend: {display: false},
        responsive: false,
        scale: {
          ticks: {
            beginAtZero: true,
            max: 5,
            min: 0,
            stepSize: 1
          }
        }
      }
  });
});
</script>



