<p id="notice"><%= notice %></p>

<h1><%= @recipe.title %></h1>

<p>
  <strong>材料:</strong>
  <br />
  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient.name + ' ' + ingredient.quantity %>
    <br />
  <% end %>
</p>

<p>
  <strong>手順:</strong>
  <br />
  <% @recipe.steps.each.with_index(1) do |step, idx| %>
    <%= "#{idx}. #{step.description}" %>
    <br />
  <% end %>
</p>
<h1>他にも同じような栄養素でこんな副菜があるよ！</h1>
<ul>
  <% @recommended_recipes.each_with_index do |recommended_recipe, index| %>
  <div class="flex items-center"> 
    <%= link_to recommended_recipe.title, recommended_recipe %>
  </div>
  <br>
  <hr>
  <% end %>
</ul>
<%= link_to 'トップに戻る', root_path %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
gon.nutritions.forEach((nutrition, index) => {
  var ctx = document.getElementById(`myChart-${ index }`).getContext('2d');
  var chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'radar',

      data: {
      labels: ['炭水化物1', '炭水化物2', 'タンパク質1', 'タンパク質2', '脂質', 'ビタミン・ミネラル'],
      datasets: [{
          data: nutrition
      }]
      },

      options: {
        legend: {display: false},
        responsive: false,
        scale: {
          ticks: {
            beginAtZero: true,
            max: 5,
            min: 0,
            stepSize: 1
          }
        }
      }
  });
});
</script>

