<p id="notice"><%= notice %></p>

<h1><%= @recipe.title %></h1>

<p>
  <strong>材料:</strong>
  <br />
  <% @recipe.ingredients.each do |ingredient| %>
    <%= ingredient.name + ' ' + ingredient.quantity %>
    <br />
  <% end %>
</p>

<p>
  <strong>手順:</strong>
  <br />
  <% @recipe.steps.each.with_index(1) do |step, idx| %>
    <%= "#{idx}. #{step.description}" %>
    <br />
  <% end %>
</p>

<h1>これだけだと足りないなぁ<br>そんなあなたに<br>コンロを使わずもう一品！</h1>
<table>
  <tbody>
    <% @recommended_recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '主菜一覧に戻る', recipes_path %>
